/* Pink Theme: modifies the default theme to inject some barbie pink in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-pink1: #F7418F; //hot pink
  --tf-pink2: #FC819E;  //pink
  --tf-pink3: #FEC7B4; // peach
  --tf-pink4: #FFF3C7; //yellow
  --bs-font-sans-serif: "Montserrat", sans-serif;
  
  --bs-link-color: var(--tf-pink1);
  --tf-pill-bg: var(--tf-pink4);
  --tf-icon-fill: var(--tf-pink4);
  --tf-icon-hover: var(--tf-pink1);
  --tf-page-bg-color: var(--tf-pink3);
  --tf-footer-bg-color: var(--tf-pink2);
  --tf-projects-bg-color: var(--tf-pink3);
}


h1, h2 {
  bs-font-sans-serif: "Archivo", sans-serif;
  color: var(--tf-pink1);
}

h3,h4,h5 {
  color: var(--tf-pink1);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-pink1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-pink3);
  border-top: none;
}
